adf/pipeline/Source 2.json
{
	"name": "Source 2",
	"properties": {
		"activities": [
			{
				"name": "Iteration",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('file')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@concat(item(),'.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@concat(item(),'.json')",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat('Sales Project','/','Rest API','/',item())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Success Logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_LOGDETAILS_RESTAPI]",
								"storedProcedureParameters": {
									"COPYDURATION": {
										"value": {
											"value": "@activity('Copy data').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ERRORMESSAGE": {
										"value": null,
										"type": "String"
									},
									"ROWCOPIED": {
										"value": {
											"value": "@activity('Copy data').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ROWREAD": {
										"value": {
											"value": "@activity('Copy data').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"TABLENAME": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail Logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_LOGDETAILS_RESTAPI]",
								"storedProcedureParameters": {
									"COPYDURATION": {
										"value": {
											"value": "@activity('Copy data').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ERRORMESSAGE": {
										"value": {
											"value": "@activity('Copy data').Error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"ROWCOPIED": {
										"value": null,
										"type": "Int64"
									},
									"ROWREAD": {
										"value": null,
										"type": "Int64"
									},
									"TABLENAME": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"file": {
				"type": "Array",
				"defaultValue": [
					"inventory",
					"payment",
					"shipping"
				]
			}
		},
		"annotations": []
	}
}